@page "/shipping_inspect_progress"
@inherits ChildPageBasePC


@* 検索条件 *@
<RadzenFieldset AllowCollapse="true">
    <HeaderTemplate>
        <span class="d-inline-flex align-items-center align-middle">
            <RadzenIcon Icon="search" class="me-1" /><b>検索条件</b>
        </span>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard>
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Start" Wrap="FlexWrap.NoWrap" Gap="5">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Wrap="FlexWrap.NoWrap" Gap="15">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Wrap="FlexWrap.NoWrap" Gap="10">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" style="width:100px;">コーナー</RadzenText>
                        <RadzenTextBox Class="w-auto" Value="" />

                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
    </ChildContent>
    <SummaryTemplate>

    </SummaryTemplate>
</RadzenFieldset>

<br />

@* 全体の進捗グリッド *@
<RadzenDataGrid FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                Data="@progressDataTotalCorner" TItem="ShippingInspectProgressData" ColumnWidth="200px"
                AllowFiltering="false"
                AllowPaging="true"
                AllowSorting="false"
                HeaderCellRender="@HeaderCellRender"
                CellRender="@CellRender">
    <Columns>
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="Title" Title="全体進捗" Width="500px" Type="typeof(string)" TextAlign="TextAlign.Center" />
        @{
            for (int i = 0; (100 / (10 / Bunkatu)) > i; i++)
            {
                int columnIndex = i;
                string property = "Prosess" + i.ToString();
                string title = (i % Bunkatu) == 0 ? ((i / Bunkatu + 1) * 10).ToString() : "";
                string width = (70 / Bunkatu).ToString() + "px";
                <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="@property" Title="@title" Width="@width" Type="typeof(string)" TextAlign="TextAlign.Right" Sortable="false" Filterable="false" Reorderable="false" Resizable="false">
                    <Template Context="data">
                        @data.Prosess[columnIndex]
                    </Template>
                </RadzenDataGridColumn>
            }
        }
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="YoteiNum" Width="110px" Type="typeof(int)" TextAlign="TextAlign.Right" FormatString="{0:#,0}">
            <HeaderTemplate>
                <div style="text-align: center; width:100%">
                    出荷検品<br>
                    予定数
                </div>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="ShippingNum" Width="110px" Type="typeof(int)" TextAlign="TextAlign.Right" FormatString="{0:#,0}">
            <HeaderTemplate>
                <div style="text-align: center; width:100%">
                    出荷<br>
                    検品数
                </div>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="ShippingProcess" Width="100px" Type="typeof(double)" TextAlign="TextAlign.Right" FormatString="{0:N1}%">
            <HeaderTemplate>
                <div style="text-align: center; width:100%">
                    検品<br>
                    進捗率
                </div>
            </HeaderTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<br />

@* 倉庫、ゾーンの進捗グリッド *@
<RadzenDataGrid FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                Data="@progressDataCorner" TItem="ShippingInspectProgressData" ColumnWidth="200px"
                AllowFiltering="true"
                FilterMode="FilterMode.Advanced"
                AllowColumnResize="true"
                AllowSorting="true"
                AllowMultiColumnSorting="true"
                ShowMultiColumnSortingIndex="true"
                ShowPagingSummary="true"
                PagerHorizontalAlign="HorizontalAlign.Justify"
                Density="Density.Default"
                HeaderCellRender="@HeaderCellRender"
                CellRender="@CellRender">
    <Columns>
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="SokoName" Title="倉庫" Width="100px" Type="typeof(string)" TextAlign="TextAlign.Left" />
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="CornerName" Title="コーナー" Width="180px" Type="typeof(string)" TextAlign="TextAlign.Left" />
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="StartTime" Width="110px" Type="typeof(DateTime)" TextAlign="TextAlign.Center" FormatString="{0:HH:mm}">
            <HeaderTemplate>
                <div style="text-align: center; width:100%">
                    作業開始<br>
                    時間
                </div>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="LimitTime" Width="110px" Type="typeof(DateTime)" TextAlign="TextAlign.Center" FormatString="{0:HH:mm}">
            <HeaderTemplate>
                <div style="text-align: center; width:100%">
                    出荷締切<br>
                    時間
                </div>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        @{
            for (int i = 0; (100 / (10 / Bunkatu)) > i; i++)
            {
                int columnIndex = i;
                string property = "Prosess" + i.ToString();
                string title = (i % Bunkatu) == 0 ? ((i / Bunkatu + 1) * 10).ToString() : "";
                string width = (70 / Bunkatu).ToString() + "px";
                <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="@property" Title="@title" Width="@width" Type="typeof(string)" TextAlign="TextAlign.Right" Sortable="false" Filterable="false" Reorderable="false" Resizable="false">
                    <Template Context="data">
                        @data.Prosess[columnIndex]
                    </Template>
                </RadzenDataGridColumn>
            }
        }
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="YoteiNum" Width="110px" Type="typeof(int)" TextAlign="TextAlign.Right" FormatString="{0:#,0}">
            <HeaderTemplate>
                <div style="text-align: center; width:100%">
                    出荷検品<br>
                    予定数
                </div>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="ShippingNum" Width="110px" Type="typeof(int)" TextAlign="TextAlign.Right" FormatString="{0:#,0}">
            <HeaderTemplate>
                <div style="text-align: center; width:100%">
                    出荷<br>
                    検品数
                </div>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ShippingInspectProgressData" Property="ShippingProcess" Width="100px" Type="typeof(double)" TextAlign="TextAlign.Right" FormatString="{0:N1}%">
            <HeaderTemplate>
                <div style="text-align: center; width:100%">
                    検品<br>
                    進捗率
                </div>
            </HeaderTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@* OnCellRenderをCallbackで処理する方法だと、TestCellRender側でスタイルを変更するとデータが表示されなくなる *@
@* 原因が分かるまでは共通のコントロールは使用しない *@
@*<DataGridExtend @attributes="AttributesGrid" />*@
